

<!-- <table>
  <thead>
    <tr>
      <th>Created</th>
      <th>Paid</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Refunded</th>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.created %></td>
        <td><%= transaction.paid %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.currency %></td>
        <td><%= transaction.refunded %></td>
        <td><%= transaction.customer.first_name %></td>
        <td><%= transaction.customer.last_name %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %> -->

<div id="transactions1"></div>
<div id="transactions2"></div>
<div id="transactions3"></div>

<script type="text/javascript">
  $(function() {
    // BackboneTest is the app name
    window.router = new Srccode3.Routers.TransactionsRouter({transactions: <%= @transactions.to_json(:include=>:customer).html_safe -%>, transactions_failed: <%= @transactions_failed.to_json(:include=>:customer).html_safe -%> , transactions_successful: <%= @transactions_successful.to_json(:include=>:customer).html_safe -%>, transactions_disputed: <%= @transactions_disputed.to_json(:include=>:customer).html_safe -%>});

    Backbone.history.start();
  });
</script>


