<td><%= customer.full_name %></td>
<td><%= amount %></td>
<td><%= created %></td>
<td>
  <a href="#/<%= id %>">Show</a> /
  <a href="/transactions/<%= id %>/edit">Edit</a> /
  <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
</td>
